:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    --main-color:#FF4000;
    --secondary-color:#FBFEFB;
    --font-size-small:12px;
    --font-size-medium:24px;
    --font-extra-bold:800;
}


ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 600px;
    display: grid;
}

li {
    /* padding-left: 40px; */
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.24), 4px 4px 4px #D56262;
    color: var(--main-color);
    font-size: var(--font-size-medium);
    position: relative;

    .rank {
        width: 110px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
        box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.24), 4px 4px 4px #D56262;
        color: var(--secondary-color);
        font-weight: var(--font-extra-bold);
        position: absolute;
        left: -40px;
        top: 20px;
    }

    .image {
        margin-left: 120px;
        width: 80px;
        height: 100px;
    }

    .title {
        /* margin-left: -20px; */
        width: 680px;
        /* flex-basis: 1; */
    }

    .buttons {
        width: 40px;
        height: 40px;
        /* justify-self: flex-end; */
        /* align-self: flex-end; */
        color: var(--main-color);
    }
}




